.b_bg {
	top : 0px;
	left : 0px;
	height: : 1080px;
	width : 1920px;
	position: absolute;
}
#total {
	background-color: white;
	top : 0px;
	left : 0px;
	opacity:0.1;
	position: absolute;
}
#font_1 {
	top : 0px;
	left : 750px;	
	position: absolute;	
}
#font_2 {
	top : 0px;
	left : 235px;	
	position: absolute;	
}
#font_3 {
	top : 0px;
	left : 900px;	
	position: absolute;	
}
#font_4 {
	top : 35px;
	left : 645px;	
	position: absolute;	
}
#font_5 {
	top : 380px;
	left : 30px;	
	position: absolute;	
}
#font_6{
	top : 500px;
	left : 500px;	
	position: absolute;	
}
#font_7{
	top : 450px;
	left : 400px;	
	position: absolute;	
}
#font_8{
	top : 300px;
	left : 200px;	
	position: absolute;	
}
#font_9{
	top : 250px;
	left : 1100px;	
	position: absolute;	
}
#font_10{
	top : 200px;
	left : 250px;	
	position: absolute;	
}
#font_11{
	top : 200px;
	left : 250px;	
	position: absolute;	
}
#font_12{
	top : 600px;
	left : 800px;	
	position: absolute;	
}
#font_13{
	top : 400px;
	left : 720px;	
	position: absolute;	
}
#star{
	top : 300px;
	left : 0px;	
	position: absolute;	
}
#speechbubble0{
	top : -38px;
	left : 450px;
	position: absolute;	
}
#speechbubble1{
	top : -38px;
	left : 600px;
	position: absolute;	
}
#speechbubble3{
	top : 450px;
	left : 750px;
	position: absolute;	
}
#speechbubble4{
	top : -4px;
	left : 500px;
	position: absolute;	
}
#speechbubble5{
	top : 500px;
	left : 280px;
	position: absolute;	
}
#speechbubble6{
	top : 150px;
	left : 1450px;
	position: absolute;	
}
#cat1{
	top : -35px;
	left : 530px;
	position: absolute;
}
#cat2{
	top : -35px;
	left : 720px;
	position: absolute;
}
#cat3{
	top : 720px;
	left : 750px;
	position: absolute;
}
#cat3_1{
	top : 720px;
	left : 60px;
	position: absolute;
}
#cat3_2{
	top : 730px;
	left : 110px;
	position: absolute;
}
#cat3_3{
	top : 730px;
	left : 110px;
	position: absolute;
}
#cat4{
	top : 700px;
	left : 1000px;
	position: absolute;
}
#cat4_1{
	top : 720px;
	left : 350px;
	position: absolute;
}
#cat4_2{
	top : 730px;
	left : 380px;
	position: absolute;
}
#cat4_3{
	top : 730px;
	left : 380px;
	position: absolute;
}
#mom1 {
	top : 45px;
	left : 200px;
	position: absolute;
}
#mom2 {
	top : 280px;
	left : 1200px;
	position: absolute;
}
#mom3 {
	top : 280px;
	left : 1200px;
	position: absolute;
}
#brush1 {
	top : 800px;
	left : 1000px;
	position: absolute;
}
#brush2 {
	top : 820px;
	left : 900px;
	position: absolute;
}
.milk {
	top : 900px;
	left : 800px;
	position: absolute;	
}
#music {
	top : 100px;
	left : 1300px;
	position: absolute;
}
#music2 {
	top : 250px;
	left : 1450px;
	position: absolute;
}
#music3 {
	top : 150px;
	left : 1500px;
	position: absolute;
}
#music4 {
	top : 100px;
	left : 1625px;
	position: absolute;
}